<!-- Center content -->
<ion-side-menu-content>
    <ion-header-bar class="bar-dark bar-altacancha">
        <button class="button button-icon menu-icon" ng-click="toggleSideBar()">
            <i class="icon ion-navicon"></i>
        </button>
        <img src="http://iconos.gratis.es/iconos/deportes/balones-y-pelotas/futbol.png" width="24" height="24" alt="Logo Alta Cancha" ng-click="toggleSideBar()" />
        <h1 class="title">Alta cancha</h1>
        <!-- New Task button-->
        <button class="button button-icon button-search" ng-click="toggleSearchBox()">
            <i class="icon ion-search"></i>
        </button>
        <button class="button button-icon" ng-click="newTask()">
            <i class="icon ion-location"></i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="search-box">
            <h2 class="title">Buscar canchas</h2>
        </div>
        <div class="padding-horizontal">
                <h4>Últimas reservas</h4>
        </div>
        <ul class="list-canchas">

            <a ng-repeat="t in [1,2,3,4,5]" href="#" class="item-cancha">
                <img class="item-cancha-img" src="http://3.bp.blogspot.com/_-_iY2J8OkP0/TGf9R71YbwI/AAAAAAAACRE/CaSXe3yz-oY/s320/gol+teso.JPG" alt="CANCHA_NOMBRE"/>
                <div class="item-cancha-overlay">
                    <h5 class="nombre padding-horizontal">NOMBRE_CANCHA</h5>
                    <h6 class="direccion padding-horizontal" >DIRECCION_CANCHA</h6>
                    <div class="precio">400$</div>
                </div>
            </a>

        </ul>
    </ion-content>
</ion-side-menu-content>