<!-- Center content -->
<ion-side-menu-content>
    <ion-header-bar class="bar-dark bar-altacancha">
        <button class="button button-icon menu-icon" ng-click="toggleSideBar()">
            <i class="icon ion-navicon"></i>
        </button>
        <img class="altacancha-logo" src="assets/img/alta-cancha-logo.png" width="24" height="24" alt="Logo Alta Cancha" ng-click="toggleSideBar()" />
        <h1 class="title">{{club.Name}}</h1>
        <!-- New Task button-->
        <button class="button button-icon button-search" ng-click="showSearchBox = !showSearchBox">
            <i class="icon ion-search"></i>
        </button>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="search-box" ng-show="showSearchBox">
            <h1 class="padding">Reserva tu cancha en</h1>
            <div class="row">
                <div class="col col-67">
                    <label class="item item-input">
                        <input ng-model="search.date" type="date" placeholder="Fecha"/>
                    </label>
                </div>
                <div class="col col-33">
                    <div class="item item-input item-select">
                        <div class="input-label">
                            Horario
                        </div>
                        <select class="" name="hourPicker" id="hourPicker" ng-model="search.hour" ng-options="hou for hou in hours"
                                class="form-control kill-border-radius"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-67">
                    <label class="item item-input">
                        <input ng-model="name" type="text" placeholder="Nombre"/>
                    </label>
                </div>
                <div class="col col-33">
                    <button ng-click="search(name)" class="button button-full">
                        <i class="icon ion-search"></i>
                    </button>
                </div>
            </div>
        </div>


        <!--<div class="row">
            <h4 class="padding-horizontal">{{club.Name}}</h4>
        </div>-->

        <div class="tabs tabs-canchas">
            <a ng-repeat="court in club.Courts" ng-click="selectCourt(court)" class="tab-item">
                {{court.Name}}
            </a>
        </div>

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="photo in club.Photos">
                <img ng-src="{{photo.Src}}" alt="ACA VA EL SLIDER"/>
            </ion-slide>

        </ion-slide-box>

        <div class="row cancha-horarios">
            <button ng-model="h1" ng-click="selectHour(h1)" ng-class="{col: true, active: selectedHours.indexOf(h1)!= -1}">18:30</button>
            <button ng-model="h2" ng-click="selectHour(h2)" ng-class="{col: true, active: selectedHours.indexOf(h2)!= -1, taken: selectedHours.indexOf(h2)== -1}">19:00</button>
            <button ng-model="h3" ng-click="selectHour(h3)" ng-class="{col: true, active: selectedHours.indexOf(h3)!= -1, taken: selectedHours.indexOf(h3)== -1}">19:30</button>
            <button ng-model="h4" ng-click="selectHour(h4)" ng-class="{col: true, active: selectedHours.indexOf(h4)!= -1}">20:00</button>
            <button ng-model="h5" ng-click="selectHour(h5)" ng-class="{col: true, active: selectedHours.indexOf(h5)!= -1}">20:30</button>
        </div>

        <div class="padding cancha-descripcion">
            {{court.Description}}
        </div>

        <div class="cancha-reservar padding">
            <button ui-sref="clubs.booking" class="button button-block button-positive">
                Reservar cancha
            </button>
        </div>

    </ion-content>
</ion-side-menu-content>