<div class="modal">
    <ion-content>
        <div class="list match-friendlist">
            <h5 class="padding"><i class="ion-android-friends"></i> Selecciona tus amigos</h5>

            <div ng-repeat="friend in friends" class="item item-thumbnail-left" ng-click="selectFriend(friend)">
                <img src="http://ionicframework.com/img/docs/blue-album.jpg">

                <h2>Pretty Hate Machine</h2>

                <p>Nine Inch Nails</p>
            </div>
        </div>
        <input type="button" class="button button-block button-positive" value="invitar" ng-click="saveFriends()">
    </ion-content>

</div>