.bar-altacancha {
  background: #99CC00 !important;
  color: #fff;

  .menu-icon {
    margin-left: -24px;
  }

  h1 {
    position: static !important;
    margin-top: -5px !important;
  }

  .button-search {
    position: absolute;
    top: 5px;
    right: 42px;
    bottom: 5px;
  }
}