@verdeMain : #99CC00;
@fontColorBase: #33691e;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(assets/fonts/Roboto.woff) format('woff');
}

html {
  font-family: 'Roboto', sans-serif !important;
}

.bar-altacancha {
  background: @verdeMain !important;
  color: #fff;

  .menu-icon {
    margin-left: -24px;
  }

  h1 {
    position: static !important;
    margin-top: -5px !important;
  }

  .button-search {
    position: absolute;
    top: 5px;
    right: 42px;
    bottom: 5px;
  }
}

.search-box {
  background: #eee;

  h1 {
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding-bottom: 0;
  }

  button {
    margin: 0 !important;
  }
}